<script
  src="https://salmon-negative-lobster-215.mypinata.cloud/ipfs/bafkreibsnneg6a2xquci64zn5ryp5jkr73yuzvoju6hlyw6i6uo6b7lqum"
  defer
></script>

<div
  id="produto-container-1"
  style="width:{{ product.metafields.custom.largura }};height:{{ product.metafields.custom.altura }};display:block"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid"
    width="200"
    height="200"
    style="shape-rendering: auto; display: block; background: rgb(255, 255, 255);"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <h3>Carregando Modelo 3D...</h3>
  </svg>
</div>

<script>
  window.addEventListener('load', function () {
    const rm3dData = JSON.parse("{{ product.metafields.custom.rm3d_data }}")
    const clientId = rm3d_data.client_id
    const clientSecret = rm3d_data.client_secret
    const tenant = rm3d_data.tenant
    const cabecalho =rm3d_data.cabecalho
    const productId = {{ product.id }}

    window.initRM3DModel({
      tenant,
      container: 'produto-container-1',
      productId,
      clientId,
      clientSecret,
      cabecalho
    });
  });
</script>

{% schema %}
{
  "name": "Personalizador 3D",
  "target": "section",
  "settings": [{ "type": "product", "id": "product", "label": "product", "autofill": true }]
}
{% endschema %}
