<script
  src="https://rm3d-general.s3.us-east-2.amazonaws.com/sdk/v2/index.js?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZRKSGHKGXQMDUBDN%2F20250420%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20250420T214043Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECYaCXVzLWVhc3QtMiJIMEYCIQDrH%2FAlV%2BFTa%2BfAdJVuRdWdQJtGwpn%2ByAVwllUic3V01QIhALWdIGu28XN86kcxB9JjzEjIGrENiQPDwh96SQ2IoFebKvYCCK%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEQABoMNjU1NjkxNzU4MjIxIgyO5t48fBvzG%2BviDGAqygIY3MgfZEV344CeugdLKE0xQUyW52Z2cgVmPYlU%2FMH%2F7GsEXwyQkxC3i6J6AX24O5JqsfQ8jyZAR3qsfpgG%2BLtqfqev8Ip9j0LJsHNeCBBtg7tSDUS94yNdqfDWksYSRW9yeiFTye7BVIreDcZNFUSV8TnkE8opvOSpkTzLq%2BNgfZjO%2Bc0%2Fk83umvPExeh7IoY3TDTDhlVvtl6iVd2t1bpMKbBSJh8yCre%2BxqCALEXctcZue782%2B1I%2FNCZ577qd7ylLa5pQvYqnBpTsWb62LjGSX%2F2b2wnJNbzqAroDXEemtnA9Q%2BY%2F%2B8XGi9IW4kfIetUpKzDZ30b2QmFHnA%2FUyYlGRRWy9GNOKKRaBdOU2i9HHfgjVTTAhjXFtejXbUiEtEak4BTVg3sFZnYH2BYF4yNnk1vzydhpMlcHGNXEo1fp%2BoimDxpPOKCEibIwsdOVwAY6rAKKfhz2SnGGmWO5uiVKKsYT68HN8uVj5hsaGt80lXdsO0Wqt4YyCFJlD9JGqaW3%2FI6Epn8lchp7owkrHHxou3Czxvk%2FWrBYwrs01TnDuD8%2BpfaAhbURW%2FBFVQ3sMU%2BUI8%2BkhlTMHpjqzC4zm6AOWAmRR97JHztmvUBCodoc0Lg8oEDQ0fs465%2BsdaS1Bbkv8MZe7%2BlD4Sd6bJT0FBzD3g9Edk1zXwi4iemUJXlpQqfzBrTniy2UPTtVeJ2zXFRy4FRHbbLRfyvrGbncqSS9D1is7nR%2BXQNKhXks5GfZuqEXVaPjoqhMaIUPuCE7H2nzjVqr8AP0uu%2B%2BFYdR6NCL4TItf9D7NybixFe9U3jaO2uhn4uLkIFG%2BIWSv%2FCHGiRBJ17P5%2FZJnbMoGndoP5M%3D&X-Amz-Signature=531975b9798fa32df3822af5d2dda67da403407a2e9a870f69804f3110c8b5d8&X-Amz-SignedHeaders=host&response-content-disposition=inline"
  defer
></script>

{% if product.metafields.custom.rm3d_data %}
  <div
    id="rm3dmodel-container"
    style="width:100%;height:100%;display:block"
  >
    <h3>Carregando Modelo 3D...</h3>
  </div>
{% endif %}

<script>
  {% if product.metafields.custom.rm3d_data %}
    window.addEventListener('load', function () {
      try {
        const rm3dData = JSON.parse('{{ product.metafields.custom.rm3d_data }}')
        const clientId = rm3dData.client_id
        const clientSecret = rm3dData.client_secret
        const tenant = rm3dData.tenant
        const cabecalho =rm3dData.cabecalho ?? false
        const productId = {{ product.id }}

        window.initRM3DModel({
          tenant,
          container: 'rm3dmodel-container',
          productId,
          clientId,
          clientSecret,
          cabecalho
        });
      } catch(error) {
        console.error("PLUGIN RM3D ERROR: ", error)
        document.getElementById("rm3dmodel-container").innerHTML = ""
      }
    });
  {% endif %}
</script>

{% schema %}
{
  "name": "Personalizador 3D",
  "target": "section",
  "settings": [{ "type": "product", "id": "product", "label": "product", "autofill": true }]
}
{% endschema %}
